<div class="container-fluid mb-5 align-middle">
  <div class="row mb-5 align-middle">
    <div class="col mt-5 align-middle">


        <div class="accordion-group">

          <div class="collapse show" id="form1" data-parent="#exampleForms">
            <div class="container-fluid mb-5">
              <div class="row mb-5">
                <div class="col-8 mt-5">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-primary font-weight-bold">Search Item</h5>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="name">Start Price</label>
                          <input type="text" class="form-control" [formControl]="start_price">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="email">End Price</label>
                          <input type="email" class="form-control" [formControl]="end_price">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="job">Manufactory</label>
                          <select class="form-control" [formControl]="manufactory">
                            <option value="samsung">Samsung</option>
                            <option value="apple">Apple</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row justify-content-center ">
                        <div class="form-group col-md-6 ">
                          <label for="comment">Name</label>
                          <input class="form-control"  [formControl]="name">
                        </div>
                      </div>
                      <div class="form-row justify-content-center">
                        <button (click)="onSetValueForm()" type="submit" class="btn btn-primary mr-4">Search</button>
                        <button (click)="onResetForm()" type="submit" class="btn btn-primary mr-4">Reset</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group">

    <div *ngFor="let product of products let i=index">
     <button type="button" class="list-group-item list-group-item-action" (click)="changeItem(i)" data-toggle="modal" data-target="#item_spec">
      <ul class="list-unstyled">
        <li class="media">
          <img src="{{product.pic}}" class="mr-3" alt="...">
          <div class="media-body row">
            <div class="col-md-4 align-middle">
              <label>{{product.title}}</label>
            </div>
            <div class="col-md-4 align-middle">
              <label >{{product.price}}元</label>
            </div>
            <div class="col-md-4 align-middle">
              <label>{{product.desc}}</label>
            </div>
           </div>
        </li>
      </ul>
     </button>
    </div>
  </div>
<!-- 
  <div class="modal fade" id="item_spec" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->

  
<div class="modal fade bd-example-modal-xl" id="item_spec" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-center pt-2">
            <div class="text-center col">
              <h1 class="h3">FItem Specification</h1>
              <hr>
            </div>
          </div>
          <div class="form-row">
            <div class="media">
              <img src="./assets/history.jpg" class="mr-3 img-thumbnail" style="height: 150px; width: 150px; display: block;" alt="...">
              <div class="media-body">

                <div class="col-md-12">
                  <label > {{products[current].title}} </label>

                </div>
                <div class="col-md-12">
                  <label >{{ products[current].price }}</label>                      
                </div>
                <div class="col-md-12">
                  <label >{{ products[current].desc }}</label>

                </div>
                <div class="col-md-12">
                    <label >{{ products[current].id }}</label>

                </div>
              </div>
            </div>

          </div>
          <div class="form-row justify-content-center">
              <button type="button" class="btn btn-primary">Check Out</button>
              <button type="button" class="btn btn-primary">Add to Cart</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>                   

        </div>
      </div> 
    </div>
  </div>
</div>
