

<!--<div class="row pt-2">
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2" *ngFor="let item of features">
    <div class="card bg-light mb-3">
      <a routerLink="/{{ item.link }}">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">{{ item.name }}</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="{{ item.icon }} fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ item.description }}</p>
        </div>
      </a>
    </div>
  </div>
</div>-->

<div class="container-fluid">
  <div class="row pt-1 mb-2">
    <div class="col-md-3 text-center mb-2">
      <h1 class="h5">
        <i class="fas fa-laptop fa-lg mr-2 text-primary"></i>

        <i class="fas fa-mobile-alt fa-lg ml-2 mr-1 text-primary"></i>
        <i class="fas fa-tablet-alt fa-lg ml-2 mr-1 text-primary"></i>
      </h1>
    </div>

  </div>
  <hr>
  <div class="row mb-1">
    <div class="col-md-12 text-center">
      <h3 class="h6">eMart&nbsp;&nbsp;<i class="fas fa-list"></i></h3>
    </div>
  </div>

  <div class="row pt-2">

    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card card-cascade">
        <div class="card-img">
          <a routerLink="/itemsearch">
            <img class="card-img-top" src="./assets/buy.jpeg" alt="Card image cap">
          </a>
        </div>
        <div class="card-body pt-0">
          <h6 class="card-title">
            <span style="font-size: 14px;"><strong>Buy Item
              </strong></span>
          </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card card-cascade">
        <div class="card-img">
          <a routerLink="/purchasehistory">
            <img class="card-img-top" src="./assets/history.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card-body pt-0">
          <h6 class="card-title">
            <span style="font-size: 14px;"><strong>Purchase History
              </strong></span>
          </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card card-cascade">
        <div class="card-img">
          <a routerLink="/discount">
            <img class="card-img-top" src="./assets/buy.jpeg" alt="Card image cap">
          </a>
        </div>
        <div class="card-body pt-0">
          <h6 class="card-title">
            <span style="font-size: 14px;"><strong>Discount Information
              </strong></span>
          </h6>
        </div>
      </div>
    </div>
 </div>
</div>




<div *ngIf="isSeller()" class="container-fluid">
  <div class="row pt-1 mb-2">
    <div class="col-md-3 text-center mb-2">
      <h1 class="h5">
        <i class="fas fa-laptop fa-lg mr-2 text-primary"></i>

        <i class="fas fa-mobile-alt fa-lg ml-2 mr-1 text-primary"></i>
        <i class="fas fa-tablet-alt fa-lg ml-2 mr-1 text-primary"></i>
      </h1>
    </div>

  </div>
  <hr>
  <div class="row mb-1">
    <div class="col-md-12 text-center">
      <h3 class="h6">Seller&nbsp;&nbsp;<i class="fas fa-list"></i></h3>
    </div>
  </div>

  <div class="row pt-2">

    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card card-cascade">
        <div class="card-img">
          <a routerLink="/itemadd">
            <img class="card-img-top" src="./assets/buy.jpeg" alt="Card image cap">
          </a>
        </div>
        <div class="card-body pt-0">
          <h6 class="card-title">
            <span style="font-size: 14px;"><strong>Add Item
              </strong></span>
          </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card card-cascade">
        <div class="card-img">
          <a routerLink="/stockview">
            <img class="card-img-top" src="./assets/history.jpg" alt="Card image cap">
          </a>
        </div>
        <div class="card-body pt-0">
          <h6 class="card-title">
            <span style="font-size: 14px;"><strong>View Stock
              </strong></span>
          </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
      <div class="card card-cascade">
        <div class="card-img">
          <a routerLink="/itemreport">
            <img class="card-img-top" src="./assets/buy.jpeg" alt="Card image cap">
          </a>
        </div>
        <div class="card-body pt-0">
          <h6 class="card-title">
            <span style="font-size: 14px;"><strong>Item Report
              </strong></span>
          </h6>
        </div>
      </div>
    </div>
 </div>
</div>
