<!-- 顶级父组件：定义页面的整体轮廓 -->
<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
    <a class="navbar-brand" routerLink="/">
      <span class="mr-1" style="color:white">Jin's eMart</span>
      <img src="./assets/" width="20" height="20" alt="">
    </a>
     <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
          <a *ngIf="isSignin" class="nav-link" routerLink="/shoppingcart">
            <i class="fas fa-home mr-1"></i>ShoppingCart
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">
            <i class="fas fa-home mr-1"></i>Home
          </a>
        </li>
         <li class="nav-item active">
          <a *ngIf="!isSignin" class="nav-link" routerLink="/login">
            <i class="fas fa-user mr-1"></i>Log in
          </a>
          <a *ngIf="isSignin" class="nav-link" routerLink="/login"  (click)="logOut()">
            <i class="fas fa-user mr-1"></i>Log Out
          </a>
          
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="row mb-5 align-middle">
</div>

<div class="container div-main">
  <div class="row">
    <!--  侧边栏  -->
    <div class="col-md-2">

    </div>
    <!--  内容区域  -->
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>