<div class="container-fluid mb-5 align-middle">
  <div class="row mb-5 align-middle">
    <div class="col mt-5 align-middle">


        <div class="accordion-group">

          <div class="collapse show" id="form1" data-parent="#exampleForms">
            <div class="container-fluid mb-5">
              <div class="row mb-5">
                <div class="col-8 mt-5">
                  <div class="card">
                    <div class="card-body">
                      <div class="row justify-content-center pt-2">
                        <div class="text-center col">
                          <h1 class="h3">FItem Specification</h1>
                          <hr>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="media">
                          <img src="./assets/history.jpg" class="mr-3 img-thumbnail" style="height: 150px; width: 150px; display: block;" alt="...">
                          <div class="media-body">

                            <div class="col-md-12">
                              <label >{{ this.name }}</label>
    
                            </div>
                            <div class="col-md-12">
                              <label >{{ this.price }}</label>                      
                            </div>
                            <div class="col-md-12">
                              <label >{{ this.manufactory }}</label>
    
                            </div>
                            <div class="col-md-12">
                                <label >{{ this.networktype }}</label>
     
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="form-row justify-content-center">
                          <button type="button" class="btn btn-primary">Check Out</button>
                          <button type="button" class="btn btn-primary">Add to Cart</button>
                          <button type="button" class="btn btn-secondary">Back</button>
                      </div>                   

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

